<main
  class="flex w-full max-w-[63rem] flex-col items-stretch justify-center bg-white md:rounded-3xl xl:grid xl:grid-cols-2 xl:items-stretch"
>
  <form
    class="flex w-full flex-col gap-6 px-6 py-8 md:gap-10 md:p-10"
    novalidate
  >
    <div
      class="flex flex-col justify-between gap-2 md:flex-row md:items-center"
    >
      <h1 class="text-preset-2">Mortgage Calculator</h1>
      <button
        type="reset"
        class="text-preset-4 w-fit text-slate-700 underline hover:text-slate-900 focus:text-slate-900"
      >
        Clear All
      </button>
    </div>

    <div class="flex flex-col gap-6">
      <number-input
        label="Mortgage Amount"
        alignDescription="prefix"
        identifier="amount"
        description="£"
        name="amount"
        [(value)]="amount"
      />

      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <number-input
          label="Mortgage Term"
          alignDescription="suffix"
          identifier="term"
          description="years"
          name="term"
          [(value)]="term"
        />
        <number-input
          label="Interest Rate"
          alignDescription="suffix"
          identifier="rate"
          description="%"
          name="rate"
          [(value)]="rate"
        />
      </div>
    </div>

    <radio-input [(value)]="type" />

    <button
      class="text-preset-3 flex h-14 w-full items-center justify-center gap-3 rounded-full bg-lime px-10 hover:bg-gradient-to-r hover:from-white/50 hover:to-white/50 focus:bg-gradient-to-r focus:from-white/50 focus:to-white/50 disabled:cursor-not-allowed disabled:opacity-50 md:w-fit"
      type="button"
      [disabled]="checkError()"
      (click)="handleSubmit($event)"
    >
      <img src="/icon-calculator.svg" alt="" aria-hidden="true" />
      Calculate Repayment
    </button>
  </form>

  @if (total <= 0) {
    <empty-results />
  } @else {
    <payment-results [total]="total" [monthly]="monthly" />
  }
</main>
