<div class="flex w-full flex-col gap-3">
  <label class="text-preset-4 text-slate-700" for="{{ identifier }}">
    {{ label }}
  </label>

  <div
    class="flex has-[:invalid]:border-red w-full border-slate-500 rounded h-12 border-[1px] hover:border-slate-900 group focus-within:border-lime {{
      alignDescription == 'prefix' ? 'flex-row' : 'flex-row-reverse'
    }}"
  >
    <span
      class="text-preset-3 bg-slate-100 px-4 py-3 text-slate-700 group-focus-within:bg-lime group-focus-within:text-slate-900 group-has-[:invalid]:bg-red group-has-[:invalid]:text-white"
      id="{{ identifier }}-description"
    >
      {{ description }}
    </span>

    <input
      type="text"
      inputmode="numeric"
      name="{{ name }}"
      id="{{ identifier }}"
      [value]="value"
      (input)="handleChange($event)"
      class="text-preset-3 w-full rounded px-4 outline-none"
      [attr.aria-invalid]="errorMessage !== ''"
      attr.aria-describedby="{{ identifier }}-description"
      attr.aria-errormessage="{{ identifier }}-error-message"
      required
    />
  </div>

  @if (errorMessage) {
    <span id="{{ identifier }}-error-message" class="text-preset-5 text-red">
      {{ errorMessage }}
    </span>
  }
</div>
